In [1]:
print("Hello World")

Hello World

# Python Comments

In [4]:
# Program to take the user's name
# single line comments

name = input('Enter your name : ')
print(name)

Enter your name :  Asad Mujeeb

Asad Mujeeb

In [5]:
'''
Multi-line comments
'''

name = input("Enter your department : ")
print(name)

Enter your department :  NAVTTC

NAVTTC

# Python Variables

In [6]:
number = 10

In [8]:
# assign value to site_name variable
site_name = 'navttc.org'

print(site_name)

# Output: navttc

navttc.org

In [9]:
site_name = 'navttc.org'
print(site_name)

# assigning a new value to site_name
site_name = 'NHIIT'

print(site_name)

navttc.org
NHIIT

In [10]:
a, b, c = 5, 3.2, 'Hello'

print(a)  # prints 5
print(b)  # prints 3.2
print(c)  # prints Hello

5
3.2
Hello

In [12]:
site1 = site2  = 'NAVTTC.org'

print(site1)  # prints navttc.org
print(site2)  # prints navttc

NAVTTC.org
NAVTTC.org

# Data Types

In [13]:
num1 = 5
print(num1, 'is of type', type(num1))

num2 = 2.0
print(num2, 'is of type', type(num2))

num3 = 1+2j
print(num3, 'is of type', type(num3))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is of type <class 'complex'>

In [14]:
# create a set named student_id
student_id = {112, 114, 116, 118, 115}

# display student_id elements
print(student_id)

# display type of student_id
print(type(student_id))

{112, 114, 115, 116, 118}
<class 'set'>

In [15]:
# create a dictionary named capital_city
capital_city = {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

print(capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

# Python Type Conversion

In [16]:
integer_number = 123
float_number = 1.23

new_number = integer_number + float_number

# display new value and resulting data type
print("Value:",new_number)
print("Data Type:",type(new_number))

Value: 124.23
Data Type: <class 'float'>

In [17]:
num_string = '12'
num_integer = 23

print("Data type of num_string before Type Casting:",type(num_string))

# explicit type conversion
num_string = int(num_string)

print("Data type of num_string after Type Casting:",type(num_string))

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of num_sum:",type(num_sum))

Data type of num_string before Type Casting: <class 'str'>
Data type of num_string after Type Casting: <class 'int'>
Sum: 35
Data type of num_sum: <class 'int'>

# Python Basic Input and Output

In [18]:
print('Python is powerful')

# Output: Python is powerful

Python is powerful

In [19]:
# print with end whitespace
print('Good Morning!', end= ' ')

print('It is rainy today')

Good Morning! It is rainy today

In [20]:
print('New Year', 2023, 'See you soon!', sep= '. ')

New Year. 2023. See you soon!

In [21]:
# concatenate
print('Programiz is ' + 'awesome.')

Programiz is awesome.

In [22]:
x = 5
y = 10

print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [23]:
# using input() to take user input
num = input('Enter a number: ')

print('You Entered:', num)

print('Data type of num:', type(num))

Enter a number:  12

You Entered: 12
Data type of num: <class 'str'>

 # Python Operators

In [24]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

In [25]:
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

In [26]:
a = 5
b = 6

print((a > 2) and (b >= 6))    # True

True

In [27]:
# logical AND
print(True and True)     # True
print(True and False)    # False

# logical OR
print(True or False)     # True

# logical NOT
print(not True)          # False

True
False
True
False

In [28]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  # prints False

print(x2 is y2)  # prints True

print(x3 is y3)  # prints False

False
True
False

In [29]:
message = 'Hello world'
dict1 = {1:'a', 2:'b'}

# check if 'H' is present in message string
print('H' in message)  # prints True

# check if 'hello' is present in message string
print('hello' not in message)  # prints True

# check if '1' key is present in dict1
print(1 in dict1)  # prints True

# check if 'a' key is present in dict1
print('a' in dict1)  # prints False

True
True
True
False

# Python if...else Statement

In [30]:
number = 10

if number > 0:
    print('Positive number')

else:
    print('Negative number')

print('This statement always executes')

Positive number
This statement always executes

In [31]:
number = 0

if number > 0:
    print('Positive number')

elif number <0:
    print('Negative number')

else:
    print('Zero')

print('This statement is always executed')

Zero
This statement is always executed

In [32]:
number = 5

# outer if statement
if number >= 0:
    # inner if statement
    if number == 0:
      print('Number is 0')
    
    # inner else statement
    else:
        print('Number is positive')

# outer else statement
else:
    print('Number is negative')

Number is positive

# Python for Loop

In [33]:
languages = ['Swift', 'Python', 'Go']

# access elements of the list one by one
for i in languages:
    print(i)

Swift
Python
Go

In [34]:
language = 'Python'

# iterate over each character in language
for x in language:
    print(x)

P
y
t
h
o
n

In [35]:
# iterate from i = 0 to i = 3
for i in range(4):
    print(i)

0
1
2
3

# Python while Loop

In [36]:
number = 1

while number <= 3:
    print(number)
    number = number + 1

1
2
3

In [37]:
# Calculate the sum of numbers until user enters 0
number = int(input('Enter a number: '))

total = 0

# iterate until the user enters 0
while number != 0:
    total += number
    number = int(input('Enter a number: '))

print('The sum is', total)

Enter a number:  12
Enter a number:  23
Enter a number:  34
Enter a number:  34
Enter a number:  34
Enter a number:  45
Enter a number:  0

The sum is 182

# Python break and continue

In [38]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [39]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

# Python pass Statement

In [41]:
n = 10

# use pass inside if statement
if n > 10:
    pass

print('Hello')

Hello

# Python Functions

In [43]:
def greet():
    print('Hello World!')

# call the function
greet()

print('Outside function')

Hello World!
Outside function

In [44]:
def greet(name):
    print("Hello", name)

# pass argument
greet("John")

Hello John

In [45]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ", sum)

# function call with two values
add_numbers(5, 4)

Sum:  9

In [46]:
# function definition
def find_square(num):
    result = num * num
    return result

# function call
square = find_square(3)

print('Square:', square)

Square: 9

In [47]:
import math

# sqrt computes the square root
square_root = math.sqrt(4)

print("Square Root of 4 is",square_root)

# pow() comptes the power
power = pow(2, 3)

print("2 to the power 3 is",power)

Square Root of 4 is 2.0
2 to the power 3 is 8

In [48]:
def add_numbers(a, b):
    sum = a + b
    print('Sum:', sum)

add_numbers(2, 3)

# Output: Sum: 5

Sum: 5

In [49]:
def add_numbers( a = 7,  b = 8):
    sum = a + b
    print('Sum:', sum)


# function call with two arguments
add_numbers(2, 3)

#  function call with one argument
add_numbers(a = 2)

# function call with no arguments
add_numbers()

Sum: 5
Sum: 10
Sum: 15

In [50]:
def display_info(first_name, last_name):
    print('First Name:', first_name)
    print('Last Name:', last_name)

display_info(last_name = 'Cartman', first_name = 'Eric')

First Name: Eric
Last Name: Cartman

In [52]:
# program to find sum of multiple numbers 

def find_sum(*numbers):
    result = 0
    
    for num in numbers:
        result = result + num
    
    print("Sum = ", result)

# function call with 3 arguments
find_sum(1, 2, 3)

# function call with 2 arguments
find_sum(4, 9)

Sum =  6
Sum =  13

# Python Recursion

In [53]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

# Python Lambda/Anonymous Function

In [54]:
# declare a lambda function
greet = lambda : print('Hello World')

# call lambda function
greet()

# Output: Hello World

Hello World

In [55]:
# lambda that accepts one argument
greet_user = lambda name : print('Hey there,', name)

# lambda call
greet_user('Delilah')

# Output: Hey there, Delilah

Hey there, Delilah

# Python Variable Scope

In [56]:
def greet():

    # local variable
    message = 'Hello'
    
    print('Local', message)

greet()

# try to access message variable 
# outside greet() function
print(message)

Local Hello
Hello world

In [57]:
# declare global variable
message = 'Hello'

def greet():
    # declare local variable
    print('Local', message)

greet()
print('Global', message)

Local Hello
Global Hello

In [58]:
# outside function 
def outer():
    message = 'local'

    # nested function  
    def inner():

        # declare nonlocal variable
        nonlocal message

        message = 'nonlocal'
        print("inner:", message)

    inner()
    print("outer:", message)

outer()

inner: nonlocal
outer: nonlocal

# Python Modules

In [59]:
# import standard math module 
import math

# use math.pi to get value of pi
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

In [60]:
# import module by renaming it
import math as m

print(m.pi)

# Output: 3.141592653589793

3.141592653589793

In [61]:
# import only pi from math module
from math import pi

print(pi)

# Output: 3.141592653589793

3.141592653589793

In [62]:
# import all names from the standard module math
from math import *

print("The value of pi is", pi)

The value of pi is 3.141592653589793

# Python List

In [63]:
 # a list of three elements
ages = [19, 26, 29]
print(ages)

# Output: [19, 26, 29]

[19, 26, 29]

In [64]:
languages = ['Python', 'Swift', 'C++']

# access the first element
print(languages[0])   # Python

# access the third element
print(languages[2])   # C++

Python
C++

In [65]:
fruits = ['apple', 'banana', 'orange']
print('Original List:', fruits)

# using append method 
fruits.append('cherry')

print('Updated List:', fruits)

Original List: ['apple', 'banana', 'orange']
Updated List: ['apple', 'banana', 'orange', 'cherry']

In [66]:
colors = ['Red', 'Black', 'Green']
print('Original List:', colors)

# changing the third item to 'Blue'
colors[2] = 'Blue'

print('Updated List:', colors)

Original List: ['Red', 'Black', 'Green']
Updated List: ['Red', 'Black', 'Blue']

In [67]:
numbers = [2,4,7,9]

# remove 4 from the list
numbers.remove(4)

print(numbers) 

# Output: [2, 7, 9]

[2, 7, 9]

In [68]:
cars = ['BMW', 'Mercedes', 'Tesla']

print('Total Elements: ', len(cars))  
  
# Output: Total Elements:  3

Total Elements:  3

In [69]:
fruits = ['apple', 'banana', 'orange']

# iterate through the list
for fruit in fruits:
    print(fruit)

apple
banana
orange

# Python Tuple

In [70]:
numbers = (1, 2, -5)
print(numbers)

# Output: (1, 2, -5)

(1, 2, -5)

In [71]:
languages = ('Python', 'Swift', 'C++')

# access the first item
print(languages[0])   # Python

# access the third item
print(languages[2])   # C++

Python
C++

In [73]:
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')

# trying to modify a tuple
cars[0] = 'Nissan'    # error
       
print(cars)

# It throws an error

TypeError: 'tuple' object does not support item assignment

In [74]:
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')
print('Total Items:', len(cars)) 
       
# Output: Total Items: 4

Total Items: 4

In [75]:
fruits = ('apple','banana','orange')

# iterate through the tuple
for fruit in fruits:
    print(fruit)

apple
banana
orange

# Python Strings

In [77]:
# create string type variables

name = "Python"
print(name)

message = "I love Python."
print(message)

Python
I love Python.

In [78]:
greet = 'hello'

# access 1st index element
print(greet[1]) # "e"

e

In [84]:
message = 'Hola Amigos'
message[0] = 'H'
print(message)
#  it does not support assignemnt

TypeError: 'str' object does not support item assignment

In [85]:
message = 'Hola Amigos'

# assign new string to message variable
message = 'Hello Friends'

print(message); # prints "Hello Friends"

Hello Friends

In [86]:
# multiline string 
message = """
Never gonna give you up
Never gonna let you down
"""

print(message)

Never gonna give you up
Never gonna let you down

In [87]:
str1 = "Hello, world!"
str2 = "I love Swift."
str3 = "Hello, world!"

# compare str1 and str2
print(str1 == str2)

# compare str1 and str3
print(str1 == str3)

False
True

In [88]:
greet = "Hello, "
name = "Jack"

# using + operator
result = greet + name
print(result)

# Output: Hello, Jack

Hello, Jack

In [89]:
greet = 'Hello'

# iterating through greet string
for letter in greet:
    print(letter)

H
e
l
l
o

In [90]:
greet = 'Hello'

# count length of greet string
print(len(greet))

# Output: 5

5

In [91]:
print('a' in 'program') # True
print('at' not in 'battle') # False

True
False

In [92]:
# escape double quotes
example = "He said, \"What's there?\""

# escape single quotes
example = 'He said, "What\'s there?"'

print(example)

# Output: He said, "What's there?"

He said, "What's there?"

In [93]:
name = 'Cathy'
country = 'UK'

print(f'{name} is from {country}')

Cathy is from UK

# Python Sets

In [95]:
# create a set of integer type
student_id = {112, 114, 116, 118, 115}
print('Student ID:', student_id)

# create a set of string type
vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

# create a set of mixed data types
mixed_set = {'Hello', 101, -2, 'Bye'}
print('Set of mixed data types:', mixed_set)

Student ID: {112, 114, 115, 116, 118}
Vowel Letters: {'u', 'a', 'i', 'o', 'e'}
Set of mixed data types: {'Hello', 'Bye', 101, -2}

In [96]:
# create an empty set
empty_set = set()

# create an empty dictionary
empty_dictionary = { }

# check data type of empty_set
print('Data type of empty_set:', type(empty_set))

# check data type of dictionary_set
print('Data type of empty_dictionary:', type(empty_dictionary))

Data type of empty_set: <class 'set'>
Data type of empty_dictionary: <class 'dict'>

In [97]:
numbers = {21, 34, 54, 12}

print('Initial Set:',numbers)

# using add() method
numbers.add(32)

print('Updated Set:', numbers)

Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}

In [98]:
companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = ['apple', 'google', 'apple']

# using update() method
companies.update(tech_companies)

print(companies)

# Output: {'google', 'apple', 'Lacoste', 'Ralph Lauren'}

{'google', 'Lacoste', 'Ralph Lauren', 'apple'}

In [99]:
languages = {'Swift', 'Java', 'Python'}

print('Initial Set:',languages)

# remove 'Java' from a set
removedValue = languages.discard('Java')

print('Set after remove():', languages)

Initial Set: {'Swift', 'Python', 'Java'}
Set after remove(): {'Swift', 'Python'}

In [100]:
fruits = {"Apple", "Peach", "Mango"}

# for loop to access each fruits
for fruit in fruits: 
    print(fruit)

Apple
Mango
Peach

In [101]:
even_numbers = {2,4,6,8}
print('Set:',even_numbers)

# find number of elements
print('Total Elements:', len(even_numbers))

Set: {8, 2, 4, 6}
Total Elements: 4

In [102]:
# first set
A = {1, 3, 5}

# second set
B = {0, 2, 4}

# perform union operation using |
print('Union using |:', A | B)

# perform union operation using union()
print('Union using union():', A.union(B))

Union using |: {0, 1, 2, 3, 4, 5}
Union using union(): {0, 1, 2, 3, 4, 5}

In [103]:
# first set
A = {1, 3, 5}

# second set
B = {1, 2, 3}

# perform intersection operation using &
print('Intersection using &:', A & B)

# perform intersection operation using intersection()
print('Intersection using intersection():', A.intersection(B))

Intersection using &: {1, 3}
Intersection using intersection(): {1, 3}

In [104]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('Difference using &:', A - B)

# perform difference operation using difference()
print('Difference using difference():', A.difference(B))

Difference using &: {3, 5}
Difference using difference(): {3, 5}

In [105]:
# first set
A = {2, 3, 5}

# second set
B = {1, 2, 6}

# perform difference operation using &
print('using ^:', A ^ B)

# using symmetric_difference()
print('using symmetric_difference():', A.symmetric_difference(B))

using ^: {1, 3, 5, 6}
using symmetric_difference(): {1, 3, 5, 6}

# Python Dictionary

In [106]:
# creating a dictionary
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
  "England": "London"
}

# printing the dictionary
print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}

In [107]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
  "England": "London"
}

# access the value of keys
print(country_capitals["Germany"])    # Output: Berlin
print(country_capitals["England"])    # Output: London

Berlin
London

In [108]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}

# add an item with "Italy" as key and "Rome" as its value
country_capitals["Italy"] = "Rome"

print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'Italy': 'Rome'}

In [109]:
country_capitals = {
  "Germany": "Berlin", 
  "Canada": "Ottawa", 
}

# delete item having "Germany" key
del country_capitals["Germany"]

print(country_capitals)

{'Canada': 'Ottawa'}

In [110]:
country_capitals = {
  "United States": "Washington D.C.", 
  "Italy": "Rome" 
}

# print dictionary keys one by one
for country in country_capitals:
    print(country)

print()

# print dictionary values one by one
for country in country_capitals:
    capital = country_capitals[country]
    print(capital)

United States
Italy

Washington D.C.
Rome

In [111]:
country_capitals = {"England": "London", "Italy": "Rome"}

# get dictionary's length
print(len(country_capitals))   # Output: 2

numbers = {10: "ten", 20: "twenty", 30: "thirty"}

# get dictionary's length
print(len(numbers))            # Output: 3

countries = {}

# get dictionary's length
print(len(countries))          # Output: 0

2
3
0

In [112]:
file_types = {
    ".txt": "Text File",
    ".pdf": "PDF Document",
    ".jpg": "JPEG Image",
}

# use of in and not in operators
print(".pdf" in file_types)       # Output: True
print(".mp3" in file_types)       # Output: False
print(".mp3" not in file_types)   # Output: True

True
False
True

# --------------Python Object Oriented Programming-------------------

In [115]:
# define a class
class Employee:
    # define a property
    employee_id = 0

# create two objects of the Employee class
employee1 = Employee()
employee2 = Employee()

# access property using employee1
employee1.employeeID = 1001
print(f"Employee ID: {employee1.employeeID}")

# access properties using employee2
employee2.employeeID = 1002
print(f"Employee ID: {employee2.employeeID}")
#Python Classes and Objects

Employee ID: 1001
Employee ID: 1002

In [114]:
# define a class
class Bike:
    name = ""
    gear = 0

# create object of class
bike1 = Bike()

# access attributes and assign new values
bike1.gear = 11
bike1.name = "Mountain Bike"

print(f"Name: {bike1.name}, Gears: {bike1.gear} ")

Name: Mountain Bike, Gears: 11

In [116]:
# create a class
class Room:
    length = 0.0
    breadth = 0.0
    
    # method to calculate area
    def calculate_area(self):
        print("Area of Room =", self.length * self.breadth)

# create object of Room class
study_room = Room()

# assign values to all the properties 
study_room.length = 42.5
study_room.breadth = 30.8

# access method inside class
study_room.calculate_area()

Area of Room = 1309.0

In [117]:
# Inheritance

In [118]:
class Animal:

    # attribute and method of the parent class
    name = ""
    
    def eat(self):
        print("I can eat")

# inherit from Animal
class Dog(Animal):

    # new method in subclass
    def display(self):
        # access name attribute of superclass using self
        print("My name is ", self.name)

# create an object of the subclass
labrador = Dog()

# access superclass attribute and method 
labrador.name = "Rohu"
labrador.eat()

# call subclass method 
labrador.display()

I can eat
My name is  Rohu

In [119]:
class Animal:

    # attributes and method of the parent class
    name = ""
    
    def eat(self):
        print("I can eat")

# inherit from Animal
class Dog(Animal):

    # override eat() method
    def eat(self):
        print("I like to eat bones")

# create an object of the subclass
labrador = Dog()

# call the eat() method on the labrador object
labrador.eat()

I like to eat bones

In [120]:
class Animal:

    name = ""
    
    def eat(self):
        print("I can eat")

# inherit from Animal
class Dog(Animal):
    
    # override eat() method
    def eat(self):
        
        # call the eat() method of the superclass using super()
        super().eat()
        
        print("I like to eat bones")

# create an object of the subclass
labrador = Dog()

labrador.eat()

I can eat
I like to eat bones

In [121]:
# Python Multiple Inheritance

In [122]:
class Mammal:
    def mammal_info(self):
        print("Mammals can give direct birth.")

class WingedAnimal:
    def winged_animal_info(self):
        print("Winged animals can flap.")

class Bat(Mammal, WingedAnimal):
    pass

# create an object of Bat class
b1 = Bat()

b1.mammal_info()
b1.winged_animal_info()

Mammals can give direct birth.
Winged animals can flap.

In [123]:
class SuperClass:

    def super_method(self):
        print("Super Class method called")

# define class that derive from SuperClass
class DerivedClass1(SuperClass):
    def derived1_method(self):
        print("Derived class 1 method called")

# define class that derive from DerivedClass1
class DerivedClass2(DerivedClass1):

    def derived2_method(self):
        print("Derived class 2 method called")

# create an object of DerivedClass2
d2 = DerivedClass2()

d2.super_method()  # Output: "Super Class method called"

d2.derived1_method()  # Output: "Derived class 1 method called"

d2.derived2_method()  # Output: "Derived class 2 method called"

Super Class method called
Derived class 1 method called
Derived class 2 method called

In [124]:
class SuperClass1:
    def info(self):
        print("Super Class 1 method called")

class SuperClass2:
    def info(self):
        print("Super Class 2 method called")

class Derived(SuperClass1, SuperClass2):
    pass

d1 = Derived()
d1.info()  

# Output: "Super Class 1 method called"

Super Class 1 method called

In [125]:
# operator overloading

In [126]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __str__(self):
        return "({0},{1})".format(self.x, self.y)

    def __add__(self, other):
        x = self.x + other.x
        y = self.y + other.y
        return Point(x, y)


p1 = Point(1, 2)
p2 = Point(2, 3)

print(p1+p2)

# Output: (3,5)

(3,5)

In [127]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # overload < operator
    def __lt__(self, other):
        return self.age < other.age

p1 = Person("Alice", 20)
p2 = Person("Bob", 30)

print(p1 < p2)  # prints True
print(p2 < p1)  # prints False

True
False